<a href="https://colab.research.google.com/github/Zia-Ul-Hasan/ISLR-/blob/main/interviw_prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LIST

In [1]:
list1 = ['apple','banaan','23']

if 'apple' in list1:
  print('yes')

yes

In [2]:
print(list1[-3])

apple

In [18]:
len(list1)

3

In [4]:
list1.append('monkey')
list1.insert(4, 'not monkey')
list1

['apple', 'banaan', '23', 'monkey', 'not monkey']

In [5]:
list1.pop(0)

'apple'

In [6]:
list1

['banaan', '23', 'monkey', 'not monkey']

In [7]:
list1.sort()
print(list1)
list1.reverse()
print(list1)

['23', 'banaan', 'monkey', 'not monkey']
['not monkey', 'monkey', 'banaan', '23']

In [8]:
list1.remove('23')
list1

['not monkey', 'monkey', 'banaan']

In [9]:
list_num = [1,2,3,4,5,6,7,8]
new_list = list_num[0:-1:3]
print(new_list)
new_list = list_num[::-1]
print(new_list)

[1, 4, 7]
[8, 7, 6, 5, 4, 3, 2, 1]

In [10]:
print(list_num)
list_n=list_num
print(list_n)
list_n.append('lemon')
print(list_n)
print(list_num)
list_num.pop()
list_n2= list_num.copy()
list_n2.append('lemon')
print(list_n2)
print(list_num)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 'lemon']
[1, 2, 3, 4, 5, 6, 7, 8, 'lemon']
[1, 2, 3, 4, 5, 6, 7, 8, 'lemon']
[1, 2, 3, 4, 5, 6, 7, 8]

list comprehension

In [11]:
LIST= [1,2,3,4,5,6,7,8,9,10]

squared_list = [i*i for i in LIST]
squared_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
squared_list[0]=99
squared_list

[99, 4, 9, 16, 25, 36, 49, 64, 81, 100]

TUPPLES

In [13]:
nums = (1,2,3,4,5,6,7,8,9,10)
print(type(nums))
tup = 1,
print(type(tup))
tupless= tuple(['zia','zia', 0, 'james',12,9])
print(type(tupless))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [14]:
if  'zia' in tupless:
  print('zia')

print(tupless)

zia
('zia', 'zia', 0, 'james', 12, 9)

In [15]:
len(tupless)

6

In [16]:
print(tupless.count('zia'))
print(tupless.index ('zia'))

2
0

In [17]:
print(tupless)
print(type(tupless))
tuple_list= list(tupless)

('zia', 'zia', 0, 'james', 12, 9)
<class 'tuple'>

In [19]:
z_tupless=tupless[0:5:2]
print(z_tupless)

('zia', 0, 12)

In [21]:
name, cc , twin= z_tupless
print(name)
print(cc)
print(twin)

zia
0
12

In [22]:
i1,*i2,i3= tupless
print(i1)
print(i2)
print(i3)

zia
['zia', 0, 'james', 12]
9

In [24]:
i2= tuple(i2)
type(i2)

tuple

**DICTIONARIES**

In [34]:
mydict={'name':'zia', 'age':22, 'car':'no', }
print (mydict)
mydict["house"]='yes'
print(mydict)
del mydict['car']
print(mydict)

{'name': 'zia', 'age': 22, 'car': 'no'}
{'name': 'zia', 'age': 22, 'car': 'no', 'house': 'yes'}
{'name': 'zia', 'age': 22, 'house': 'yes'}

In [33]:
mydict.popitem()
print(mydict)

{'name': 'zia', 'age': 22}

In [53]:
for key in mydict.keys():
  print (key)
for value in mydict.values():
  print(value)
for key,value in mydict.items():
  print(key,value)

max
12
max 12

In [61]:
mydict2 = dict(name='faiz', age=17,email='fazi@gmail')
print(mydict2)
print(mydict)
mydict.update(mydict2)
print(mydict)

{'name': 'faiz', 'age': 17, 'email': 'fazi@gmail'}
{('max', 'zain'): 12}
{('max', 'zain'): 12, 'name': 'faiz', 'age': 17, 'email': 'fazi@gmail'}

In [60]:
name_tup= 'max','zain'
print(type(name_tup))
mydict={name_tup:12}
mydict

<class 'tuple'>

{('max', 'zain'): 12}

**SETS**

In [69]:
myset = set('hello')
myset2 =set(['h','e','l','l','o'])
notmyset= set([1,2,3,'zia'])
print(type(myset))
print(type(notmyset))
print(myset)
print(myset2)

<class 'set'>
<class 'set'>
{'l', 'h', 'e', 'o'}
{'l', 'h', 'e', 'o'}

In [71]:
myset.add(1)
print(myset)
myset.discard(1)
print(myset)
myset.add(1)
print(myset)
myset.pop()
print(myset)

{1, 'l', 'e', 'o', 'h'}
{'l', 'e', 'o', 'h'}
{1, 'l', 'e', 'o', 'h'}
{'l', 'e', 'o', 'h'}

In [74]:
try:
  if 'l' in myset:
    print('noops')
except:
  print('oops')

noops

In [77]:
odds={1,3,5,7,9}
evens={2,4,6,8}
prime={2,3,5,7}


unions=evens.union(odds)
print(unions)
inter= evens.intersection(prime)
print(inter)
diff=odds.difference(prime)
print(diff)
sym_diff=odds.symmetric_difference(prime)
print(sym_diff)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{2}
{1, 9}
{1, 2, 9}

In [80]:
all= set()
all

set()

In [87]:
all.update(odds)
print(all)
all.update(evens)
print(all)
all.intersection_update(prime)
print(all)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{2, 3, 5, 7}

In [88]:
all.update(odds)
print(all)
all.update(evens)
print(all)

print(all.issubset(evens))
print(all.issuperset(evens))

{1, 2, 3, 5, 7, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
False
True

**STRINGS**

In [106]:
my_strings="""     hello zia"""

print(my_strings)
my_strings=my_strings.strip()
print(my_strings)
print(my_strings[0::2])
my_strings=my_strings.strip()
print(my_strings)
my_strings=my_strings.upper()
print(my_strings)
my_strings=my_strings.lower()
print(my_strings)

     hello zia
hello zia
hloza
hello zia
HELLO ZIA
hello zia

In [122]:
print(my_strings.startswith('hell'))
print(my_strings.endswith('za'))
print(my_strings.find('he'))
print(my_strings.count('l'))
print(my_strings.replace('hello','heaven'))

True
False
0
2
heaven zia

In [125]:


list_to_strirg=my_strings.split()
list_to_strirg

['hello', 'zia']

In [130]:
new_string= ' '.join(list_to_strirg)
new_string

'hello zia'

In [136]:
var1 ='zia'
var2= 3.1432
m_string= f"the vaiable is {var1} and with value {var2*2} "
print(m_string)

the vaiable is zia and with value 6.2864